{# src/Acme/MovieBundle/Resources/views/Movie/list.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Listing{% endblock %}

{% block content %}
	<div class="row-fluid">Test</div>
{% endblock %}