ul.movieList {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.movieList li {
	float: left;
	margin-left: 0 !important; /* No margin on these */
	margin-bottom: 10px;
}
ul.movieList a {
	display: block;
	text-align: center;
}
ul.movieList a img {
}
ul.movieList a span {
	display: block;
	padding-top: 10px;
}