body {
	padding-top: 20px;
}

form.inline {
	display: inline-block;
	margin: 0;
}

form div.released_field select {
	width: 100px;
}

table tr.active td {
	background-color: #e1ecc3 !important;
}

table tfoot tr td {
	text-align: center !important;
}

table tr td ul {
	margin: 0;
}

ul.links li {
	margin-bottom: 5px;
}
