imports:
    - { resource: config.yml }

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  %kernel.logs_dir%/%kernel.environment%.log
            level: debug

doctrine:
    dbal:
        driver:   pdo_mysql
        host:     tunnel.pagodabox.com
        port:     3306
        dbname:   stefania
        user:     amada
        password: ofSK1UGA
