<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

php_flag  log_errors on
php_value error_reporting -1
php_value error_log  /Users/clooth/Development/Work/Tests/movies/web/php_errors.log
